---
# Feel free to add content and custom Front Matter to this file.
# To modify the layout, see https://jekyllrb.com/docs/themes/#overriding-theme-defaults

layout: default
title: Drawpistol
---

%section.opener
	%h1 
		%img{ src: '/assets/drawpistol-logo.svg', alt: "Drawpistol" }
	.animation
		%img{ src: 'https://placehold.it/1000x1000' }

%section.intro
	%p Mikko Lepistö, known as Drawpistol, lives and breathes freestyle. He specializes in creative flows where nothing is pre-planned, with everything born spontaneously from the moment’s feeling. His art is like a continuous game where chance and skill intertwine seamlessly. The pandemic led him to discover a completely unique technique that brings his improvisation to a new level. Therefore each work of his is a manifestation of freedom and self-expression.
	
%section.gallery
	.columns
		.col.left
			%img{ src: 'https://placehold.it/300x300' }
			%img{ src: 'https://placehold.it/300x400' }
			%img{ src: 'https://placehold.it/300x300' }
		.col.middle
			%img{ src: 'https://placehold.it/300x400' }
			%img{ src: 'https://placehold.it/300x300' }
			%img{ src: 'https://placehold.it/300x200' }
		.col.right
			%img{ src: 'https://placehold.it/300x200' }
			%img{ src: 'https://placehold.it/300x300' }
			%img{ src: 'https://placehold.it/300x400' }
	.cta
		%a.button{ href: '#' } 
			%img{ src: 'https://placehold.it/48x48' }
			.text Instagram

%section.skateboard
	%h2 Kick
	%img{ src: 'https://placehold.it/900x200' }
	%h2 Flip

%section.albums
	%h2 Music
	.music
		.c
			%img{:src => "https://placehold.it/300x300"}/
			.info Album Name
		.c
			%img{:src => "https://placehold.it/300x300"}/
			.info Album Name
		.c
			%img{:src => "https://placehold.it/300x300"}/
			.info Album Name
		.c
			%img{:src => "https://placehold.it/300x300"}/
			.info Album Name
		.c
			%img{:src => "https://placehold.it/300x300"}/
			.info Album Name

%section.etsy
	%h2 Wear
	.products
		.product
			%img{ src: 'https://placehold.it/200x200' }
			.product-name Design-T-Shirt
		.product
			%img{ src: 'https://placehold.it/200x200' }
			.product-name Design-T-Shirt
		.product
			%img{ src: 'https://placehold.it/200x200' }
			.product-name Design-T-Shirt
		.product
			%img{ src: 'https://placehold.it/200x200' }
			.product-name Design-T-Shirt
	.cta
		%a.button{ href: '#' } More on Etsy


%section.contact
	%p Let’s work together<br>Reach out to Mikko <br>for collaboration:
	.cta
		%a.button{ href: '#' } Contact
	.cta
		%a.social{ href: '#' }
			%img{ src: 'https://placehold.it/48x48', alt: "Instagram" }
		%a.social{ href: '#' }
			%img{ src: 'https://placehold.it/48x48', alt: "Linkedin" }

%section.footer
	%img{ src: 'https://placehold.it/128x128' }
	.cta
		%a{ href: '#' } Imprint


:javascript
	window.addEventListener('scroll', () => {
		const sections = document.querySelectorAll('section');
		const musicElements = document.querySelectorAll('.music > div');
		const covers = musicElements.length;

		sections.forEach(section => {
			const topOffset = section.getBoundingClientRect().top;
			const bottomOffset = topOffset + section.offsetHeight;
			const viewportHeight = window.innerHeight;
			const offsetInVH = (topOffset / viewportHeight) * 100;
			const offsetOutVH = (bottomOffset / viewportHeight) * 100;

			if (section.classList.contains('gallery')) {
				const left = section.querySelector('.col.left'); 
				const middle = section.querySelector('.col.middle'); 
				const right = section.querySelector('.col.right'); 
				if (left && right && middle && offsetInVH >= 0) { 
					left.style.marginTop = Math.round(offsetInVH)+150 +'px';
					middle.style.marginTop = (Math.round(offsetInVH) * 2) +'px';
					right.style.marginTop = (Math.round(offsetInVH) * 1.5)+180+'px';
				}
			}

			if (section.classList.contains('albums')) {
				var stateValue = Math.round(offsetInVH / 15);
				if(stateValue > covers - 1) { stateValue = covers - 1 }
				if(stateValue < 0) { stateValue = 0 } 
				console.log(stateValue);

				musicElements.forEach((element, i) => {
					element.classList.remove('active');
					if(stateValue == i) { element.classList.add('active'); }
				});
			}
		});
	});